<mat-tab-group>
    <mat-tab *ngFor="let slot of slot" [label]="slot.nomSlot">
        

            
            <div  class="container"   style="margin-top:  5rem;"  >
                
                 <fieldset disabled>
                 <div class="form-group">
                    <label for="categorieEquip">Nom Slot  </label>
                    <input [(ngModel)]= "slot.nomSlot" name= "slotNm" id="title" type="text" class="form-control" >
                
                 </div>
                </fieldset>

                

                <fieldset disabled>
                <div class="form-group">
                <label for="nomEquip"> numeroSlot </label>
                <input [(ngModel)]= "slot.numeroSlot" name= "nomSlotFin" id="title" type="number" class="form-control" >
        
                </div>
            </fieldset> 

        
            </div>
            <button class="btn btn-primary" (click)=EditSlot(slot.id) type="submit">Edit</button>&nbsp;&nbsp;&nbsp;
        

        
        
    </mat-tab>
  </mat-tab-group>