<div class="container">
  <div class="row">
    <div class="col-3 border border-dark" >
      <p class="text-info ">Type port A</p>
      
        <ul class="list-group border border-dark">
          <li class="list-group-item">EA</li>
          <li class="list-group-item">STM-0</li>
          <li class="list-group-item">STM-1</li>
          <li class="list-group-item">STM-16</li>
          <li class="list-group-item">STM-4</li>
          <li class="list-group-item">1 Gb/s</li>
          <li class="list-group-item">100 Mb/s</li>
          <li class="list-group-item">128 Kb/s</li>
          <li class="list-group-item">2 Mb/s</li>
          <li class="list-group-item">512 Kb/s</li>
        </ul>
        <br>
        <br>
        <button type="button" class="btn btn-primary">Envoyer</button>
    
    </div>
    
    <div class="col-6">
      
      <div class="container border border-dark">
        <div class="row">
          <div class="col-sm">
            <p class="text-info">Type port A</p>
            <ul class="list-group border border-dark">
              <li class="list-group-item">E1</li>
              <li class="list-group-item">100 Mb/s</li>
              <li class="list-group-item">128 Kb/s</li>
              <li class="list-group-item">STM-4</li>
              <li class="list-group-item">512 Kb/s</li>
            </ul>
          </div>
          <div class="col-sm">
            <p class="text-info">Type port B</p>
           <ul class="list-group border border-dark">
          <li class="list-group-item">STM-4</li>
          <li class="list-group-item">1 Gb/s</li>
          <li class="list-group-item">100 Mb/s</li>
          <li class="list-group-item">128 Kb/s</li>
          <li class="list-group-item">2 Mb/s</li>
          

            </ul>
          </div>
        
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-danger">Suprimer</button>
      </div>
      
      
      
         
      
      </div>
    <div class="col-3 border border-dark">
      
      <p class="text-info">Type port B</p>
        <ul class="list-group border border-dark">
          <li class="list-group-item">EA</li>
          <li class="list-group-item">STM-0</li>
          <li class="list-group-item">STM-1</li>
          <li class="list-group-item">STM-16</li>
          <li class="list-group-item">STM-4</li>
          <li class="list-group-item">1 Gb/s</li>
          <li class="list-group-item">100 Mb/s</li>
          <li class="list-group-item">128 Kb/s</li>
          <li class="list-group-item">2 Mb/s</li>
          <li class="list-group-item">512 Kb/s</li>
        </ul>
        <br>
        <br>

        <button type="button" class="btn btn-primary">Envoyer</button>
    
    </div>
  </div>
</div>